#breadcrumb {
    height: 6vh;
    display: flex;
    align-items: center;
    background-color: rgb(199, 195, 187);
}

#breadcrumb a {
    padding: 4px 3px;
    font-weight: 900;
    font-family: "sans-serif";
}

#breadcrumb a[rid='-1'] {
    margin: 3px 0px;
    position: relative;
    bottom: 1px;
}

#breadcrumb #home-icon {
    font-size: 18px;
    position: relative;
    top: 2px;
}

#breadcrumb a+a:before {
    padding-right: 4px;
    color: black;
    content: '\003E';
    font-size:20px;
    font-family:"wide font";
    transform: scale(.5, 1);
}

#breadcrumb a:hover {
    cursor: pointer;
    background-color: rgb(209, 238, 238);
}

#breadcrumb > *:last-child {
    font-weight: bolder;
    color: rgb(79, 149, 196);
}


