#main-context-menu {
    display: none;
    position: fixed;
    z-index: 100000;
    width: 200px;
    background-color: rgb(141, 138, 138);
    border: 1px solid rgb(143, 139, 139);
    border-radius: 3px;
}

#main-context-menu > * {
    margin: 7px 0px;
    padding: 10px 10px;
    font-size: 15px;
    font-weight: normal;
    border-bottom: 1px solid rgb(218, 211, 211);
    color: white;
    display: flex;
    justify-content: space-between;
}

#main-context-menu > * > img {
    width: 18px;
}

#main-context-menu > *:hover {
    color: black;
    background-color: white;
    cursor: default;
}